/* Styles for frontend */

/* - Assignment area - */

.assignment-wrapper{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

.venue-space-box{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 80%;
	min-height: 500px;
	height: auto;
	margin-bottom: 30px;
	margin-right: 30px;
	padding: 10px;
	border: 1px solid grey;
	float: left;
}

.guests-box{
	display: block;
	box-sizing: border-box;
	width: calc(20% - 30px);
	min-height: 500px;
	height: auto;
	margin-bottom: 30px;
	padding: 10px;
	border: 1px solid grey;
	float: left;
}

.source-image{
	display: block;
	width: 100%;
	max-width: none;
}

.table-distribution-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* - Tables - */

.table{
	position: relative;
	width: 50px;
	height: 100px;
	margin: 20px;
	/*border: 1px solid #000;*/
	float: left;
	cursor: pointer;
}

.table-visual{
	position: relative;
}

.table-visual img{
	position: absolute;
	/*display: none;*/
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.table-visual-ref{
	position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    z-index: 20;
    font-weight: 500;
    color: #fff;
    text-align: center;
}


/* - Magnific Popup general styles for tables - */

.zoom-anim-dialog {
	background: #f5f5f5;
	padding: 20px 30px;
	text-align: left;
	max-width: 300px;
	margin: 40px auto;
	position: relative;
	border-radius: 10px;
}

.admin-bar .mfp-close{
	top: 0 !important;
	right: 0 !important;
}

iframe{
	margin-top: 40px;
}

.mfp-bg{
	z-index: 10000;
}

.mfp-wrap{
	z-index: 10001;
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

button.mfp-close{
	background: #009b9c;
	border-radius: 50%;
}

.mfp-close {
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #FFF;
    font-size: 18px;
    margin: 10px;
}

.mfp-ready:not(.ekit-promo-popup) .mfp-content {
	opacity: 1;
}

/* popup title */

.zoom-anim-dialog h2{
	font-size: 22px;
	text-decoration: underline;
	margin-bottom: 20px;
}

/* End - Magnific Popup general styles for tables - */



/* Clearfix */

.clearfix{
  clear: both;
}

.clearfix:after{
  clear: both;
  content: "";
  display: table;
}