/* Styles for admin functions and resources */

/* Tables */

.table-types-space{
	position: relative;
	width: 80%;
	margin: 40px auto;
}

.table-box{
	width: calc(20% - 20px);
	box-sizing: border-box;	
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid grey;
	float: left;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}

.table-box:hover{
	background-color: #ffffff;
}

.table-box img{
	max-width: 100%;
	width: 100px;
}

.table-distribution-box{
	position: absolute;	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.table{
	position: absolute;
	width: 50px;
	height: 100px;
	margin: 20px;
	cursor: pointer;
}

.table-visual{
	position: relative;
}

.table-visual img{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.table-visual-ref{	
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    z-index: 0;
}



/* Venue */

.venue-spaces{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.venue{
	position: relative;
	width: 100%;
}

.venue img{
	width: 100%;
}



/* Clearfix */

.clearfix{
  clear: both;
}

.clearfix:after{
  clear: both;
  content: "";
  display: table;
}